---
title: University Program
slug: university-program
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 1
seo_title: University Program
editable_elements:
  main/banner: /samples/pages/Banner_Hafiza.png
  main/about_us_image:
  main/about_us_text:
---
{% extends parent %}
{% block main %}
{% include banner %}
<div class='container-fluid'>
  {% include page_header %}
  <div class='col-md-12'style="text-align:center">
      <h2>
        Text
      </h2>

  </div>
</div>
{% endblock %}
